{%extends "base/base.html"%}
{%block title%}{{blog_post.title}}{%endblock%}
{%block layoutblock%}
<section class="module parallax parallax-6">
  <div class="container"></div>
</section>

<!-- Main -->
  <div id="main-wrapper">
    <div id="main" class="container">
      {% for post in posts %}
        <section class="box features no-margin">
          <h2 class="major no-margin"><span>{{post.title}}</span></h2>
        </section>
        <section>
          <header>
            <h3><a href="/blog/{{post.url_slug}}">{{post.title}}</a></h3>
            <ul class="meta">
              <li class="icon fa-clock-o">{{post.date_created}}</li>
              <li class="icon fa-comments"><a href="#">{{post.author.first_name}} {{post.author.last_name}}</a></li>
            </ul>
          </header>
          {{post.body |safe |slice:":255" }}
          <p><a href="/blog/{{post.url_slug}}" class="button alt">Read More</a></p>
        </section>
      {% endfor %}

      <div class="pagination">
          <span class="step-links">
              {% if posts.has_previous %}
                  <a href="?page={{ posts.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
              </span>

              {% if posts.has_next %}
                  <a href="?page={{ posts.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
    </div>
  </div>
  {% endblock %}
