{%extends "base/base.html" %}
{%block layoutblock%}
<section class="module parallax parallax-2">
  <div class="container"></div>
</section>

      <!-- Main -->
        <div id="main-wrapper">
          <div id="main" class="container">

              <div class="row 200%">
                <div class="12u mobileParallaxFix">
                  <section class="box features no-margin">
                    <h2 class="major no-margin"><span>Partners</span></h2>
                  </section>
                  We do not currently have an active partner program. Check back in the future.
                </div>
              </div>
            </div>
          </div>
{% endblock %}
