  <section class="box features">
    <h2 class="major"><span>Product Summaries</span></h2>
    <div>
      {% for product in products %}
        {% if forloop.counter0|divisibleby:3 %}
        <div class="row 200%">
        {% endif %}
          <div class="4u 12u(mobile) product">
          <!-- Feature -->
            <section class="box feature">
              <img class="productImage" src="{{MEDIA_URL}}{{product.picture}}" />
              <h3><a href="#">{{product.name}}</a></h3>
              <p>
                {{product.short_description}}<br />
                View the {{product.name}} page <strong><a href="{{product.url_slug}}">here.</a></strong>
              </p>
            </section>
          </div>
        {% if forloop.counter|divisibleby:3 %}
        </div>
        {% endif %}
      {% endfor %}
    </div>
</section>
