<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" dir="ltr">
 <head>
  <title>PostgreSQL: {%block title%}{%endblock%}</title>
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
{%block meta%}{%endblock%} {# used for custom meta tags such as description which we don't want for every page #}
  <meta name="copyright" content="The PostgreSQL Global Development Group" />
  <style type="text/css" media="screen" title="Normal Text">@import url("/dyncss/base.css?{{gitrev}}");</style>
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="PostgreSQL News" href="{{link_root}}/news.rss" />
  <link rel="alternate" type="application/rss+xml" title="PostgreSQL Events" href="{{link_root}}/events.rss" />
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1345454-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%block extrahead%}{%endblock%}
 </head>
 <body>
   <div id="logo" style="display:none">Postgresql</div>
   <div id="page-wrapper">
     <!-- Nav -->
       <nav id="nav">
         <ul>
           <li><span class="header"><img src="/media/images/Postgresql_elephant.svg" alt="" /></span></li>
           <li class="current"><a href="{{link_root}}/index">Home</a></li>
           <li><a href="{{link_root}}/about/about">About</a></li>
           <li><a href="{{link_root}}/download/download">Download</a></li>
           <li><a href="{{link_root}}/documentation/documentation">Documentation</a></li>
           <li><a href="{{link_root}}/community/community">Community</a></li>
           <li><a href="{{link_root}}/support/support">Support</a></li>
           <li><a href="{{link_root}}/login/login">Login</a></li>
         </ul>
       </nav>
       {%block layoutblock%}{%endblock%}
       <!-- Footer -->
       <footer id="footer" class="container">
         <div class="row 200%">
           <div class="12u">

             <!-- Contact -->
             <div class="row">
               <div class="12u">
                 <section>
                   <h2 class="major"><span>Connect with the PostgreSQL Community</span></h2>
                   <ul class="contact">
                     <li><a class="icon fa-facebook" href="#"><span class="label">Facebook</span></a></li>
                     <li><a class="icon fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                     <li><a class="icon fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                     <li><a class="icon fa-github" href="#"><span class="label">GitHub</span></a></li>
                     <li><a class="icon fa-google-plus" href="#"><span class="label">Google+</span></a></li>
                   </ul>
                 </section>
               </div>
             </div>
           </div>
         </div>

         <!-- Copyright -->
           <div id="copyright">
             <ul class="menu">
               <li>Copyright &copy; 1996-{% now "Y" %} The PostgreSQL Global Development Group</li>
             </ul>
           </div>
       </footer>
    </div>
 </body>
</html>
