{%extends "base/basealt.html"%}
{%block title%}Products{%endblock%}
{%block layoutblock%}
        <section class="box features no-margin">
            <h2 class="major no-margin"><span>Our Product Portfolio</span></h2>
        </section>
        <section>
            <p>
                The PostgreSQL Company: Command Prompt, Inc., has a full product portfolio. Each product is derived,
                or is a part of the World's Most Advanced Open Source Database, PostgreSQL.
        </section>

        {% include 'pages/products/listing.html' %}
{% endblock %}
