{%extends "base/basealt.html"%}
{%block title%}Services{%endblock%}
{%block layoutblock%}
    <section class="box features no-margin">
        <h2 class="major no-margin"><span>Our Services</span></h2>
    </section>
    <section>
        <p>
            As the oldest company providing PostgreSQL centered full stack consulting and support we are in a unique
            position to be able to provide best in class services for your platform.
        </p>
    </section>
    {% include "pages/services/package.html" %}
    {% include "pages/services/professional.html" %}
    {% include "pages/services/cloud.html" %}
{% endblock %}
