<!-- Row 1 Features -->
<div class="row 200%">
  <div class="12u">
    <div class="12u(mobile)">
      <!-- Features -->
        <section class="box features">
          <div>
            <h2 class="major"><span>Packaged Services</span></h2>
            <img class="headerImage" src="../images/package.svg"></img>
          </div>
          <div>
            <div class="row">
              <div class="4u 12u(mobile)">

              <!-- Feature -->
                <section class="box feature">
                  <h3><a href="#">Audit and Tune</a></h3>
                  <p>
                    Catch the 80% of low hanging fruit of your Hardware, OS and PostgreSQL installation configuration.</br>
                    View the Audit and Tune product page <strong><a href="../products/auditandtune.html">here.</a></strong>
                  </p>
                </section>

              </div>

              <div class="4u 12u(mobile)">

              <!-- Feature -->
                <section class="box feature">
                  <h3><a href="#">Performance Audit</a></h3>
                  <p>
                    An in-depth review, report and recommendation of your in production operating system and PostgreSQL
                    installation.</br>
                    View the Performance Audit product page <strong><a href="../products/performanceaudit.html">here.</a></strong>
                  </p>
                </section>

            </div>

            <div class="4u 12u(mobile)">

            <!-- Feature -->
              <section class="box feature">
                <h3><a href="#">Replication Configuration</a></h3>
                <p>
                  Hot / Warm / Cold Standby or DRBD (Linux) replication configuration and set up.</br>
                  View the Replication Configuration product page <strong><a href="../products/hotcoldstandby.html">here.</a></strong>
                </p>
              </section>

            </div>
          </div>

          <div class="row">
            <div class="4u 12u(mobile)">

            <!-- Feature -->
              <section class="box feature">
                <h3><a href="#">High Availability</a></h3>
                <p>
                  Maximize up-time with true High Availability Cluster configurations for Linux and PostgreSQL.</br>
                  View the High Availability Clusters product page
                  <strong><a href="../products/highavailabilityclusters.html">here.</a></strong>
                </p>
              </section>

            </div>

            <div class="4u 12u(mobile)">

            <!-- Feature -->
              <section class="box feature">
                <h3><a href="#">Remote DBA / Sysadmin</a></h3>
                <p>
                  Let us be part of your team with the highly experienced and talented professionals on our
                  team! We provide best practices Remote DBA and Sysadmin services for almost every environment.
                  Just remember, it has to be PostgreSQL centered because every other database wishes it could
                  be this awesome.</br>
                  View the Remote Hands service page
                  <strong><a href="../services/remotehands.html">here.</a></strong>
                </p>
              </section>

            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
