{%extends "base/base.html" %}
{%block title%}{{title}}{%endblock%}
{%block meta%}
  <meta name="description" content="The official site for PostgreSQL, the world's most advanced open source database" />
{%endblock%}
{%block layoutblock%}
			<section class="module parallax parallax-1">
			  <div class="container"></div>
			</section>

		<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row 200%">
						<div class="12u">

							<!-- Row 1 -->
								<section class="box features mobile-pad">
									<div>

										<div class="row">
											<!-- Feature -->
											<span class="3u 12u(mobile)">
												<div class="margin-1-bottom">
													<section class="box feature">
														<a href="#" class="image featured image-section"><i class="fa fa-cog"></i></a>
													</section>
												</div>
												<div>
													<section class="box feature">
														<h3><a href="#">About</a></h3>
															<div>
																<p>
																	Command Prompt, Inc. is the oldest and largest dedicated PostgreSQL support provider in North America. Since 1997, we
																	have been developing, supporting, deploying and advocating the use of the World's Most Advanced Open Source Database.
																</p>
															</div>
															<a href="./about/about.html" class="button alt">About Us</a>
													</section>
												</div>
											</span>
											<!-- END Feature -->

											<!-- Feature -->
											<span class="3u 12u(mobile)">
												<div class="margin-1-bottom">
													<section class="box feature">
															<a href="#" class="image featured image-section"><i class="fa fa-users"></i></a>
													</section>
												</div>
												<div>
														<section class="box feature">
															<h3><a href="#">PostgreSQL Community</a></h3>
															<div>
															  <div class="color1AlternatingBox"><a href="">Point In Time Recovery Tools</a> for PostgreSQL made easy.</div>
																<div class="color2AlternatingBox"><a href="">Plphp</a> can now be used to write functions in PostgreSQL.</div>
																<div class="color1AlternatingBox"><a href="">SimpyCity</a> is a mapping system for PostgreSQL stored procedures/queries.</div>
														  </div>
															<a href="#" class="button alt">Read More</a>
														</section>

												</div>
											</span>
											<!-- END Feature -->

											<!-- Feature -->
											<span class="3u 12u(mobile)">
												<div class="margin-1-bottom">
													<section class="box feature">
														<a href="#" class="image featured image-section"><i class="fa fa-comment-o"></i></a>
													</section>
												</div>
												<div>
													<section class="box feature">
														<h3><a href="#">Testimonials</a></h3>
															<div>
																<p>
																	"{{testimonial.quote}}” </br>
																	{{testimonial.who}}</br>
																	{{testimonial.org}}
																</p>
															</div>
															<a href="#" class="button alt">View More</a>
													</section>
												</div>
											</span>
											<!-- END Feature -->

											<!-- Feature -->
											<span class="3u 12u(mobile)">
												<div class="margin-1-bottom">
												  <section class="box feature">
														<a href="#" class="image featured image-section"><i class="fa fa-user-plus"></i></a>
												  </section>
												</div>
												<div>
													<section class="box feature">
														<h3><a href="#">Featured Clients</a></h3>
														<div>
															<a href="#" class="image"><img src="images/featured_clients.jpg" alt="" /></a>
														</div>
															<a href="#" class="button alt">Become Our Client</a>
													</section>
												</div>
											</span>
											<!-- END Feature -->

										</div>
										<!-- END inner row -->
									</div>
									<!-- END enclosing section DIV -->
								</section>
								<!-- END Featured boxes section -->
						</div>
						<!-- END 12 columns -->
					</div>
					<!-- END outer row -->

					<div class="row 200%">
						<div class="12u">

							<!-- Blog -->
							<section class="box blog">
								<div>
									<div class="row">
										<div class="9u 12u(mobile)">
											<h2 class="major no-margin"><span>Latest Blog Posts</span></h2>
											<div class="content content-left">
                        {% if featured_post %}
                          <!-- Featured Post -->
  												<article class="box post">
  													<header>
  														<h3><a href="/blog/{{featured_post.url_slug}}">{{featured_post.title}}</a></h3>
  														<ul class="meta">
  															<li class="icon fa-clock-o">{{featured_post.date_created}}</li>
  															<li class="icon fa-comments"><a href="#">{{featured_post.author.first_name}} {{featured_post.author.last_name}}</a></li>
  														</ul>
  													</header>
  													<section class="module parallax parallax blog-1" {% if featured_post.feature_image %} style="background-image: url('{{featured_post.feature_image}}');" {% endif %}>
  														<div class="container"></div>
  													</section>
  													{{featured_post.body |safe |slice:":255" }}
  													<a href="/blog/{{featured_post.url_slug}}" class="button alt">Read More</a>
  												</article>
                        {% endif %}
											</div>
										</div>
										<div class="3u 12u(mobile)">
											<div class="sidebar">

												<!-- Archives -->
												<ul class="divided">
                          {% for post in latest_posts %}
  													<li>
  														<article class="box post-summary">
  															<h3><a href="/blog/{{post.url_slug}}">{{post.title}}</a></h3>
  															<ul class="meta">
  																<li class="icon fa-clock-o">{{post.date_created}}</li>
  																<li class="icon fa-comments"><a href="#">{{post.author.first_name}} {{post.author.last_name}}</a></li>
  															</ul>
  														</article>
  													</li>
                          {% endfor %}
                        </ul>
  												<a href="#" class="button alt">Browse Archives</a>
  												<!-- END Archives -->
											</div>
										</div>
									</div>
								</div>
							</section>
							<!-- END Blog -->
						</div>
						<!-- END 12u -->
					</div>
						<!-- END Row 200% -->
				</div>
			</div>
{%endblock%}
